<section id="hero_in" class="courses">
    <div class="wrapper">
        <div class="container">
            <h1 class="fadeInUp"><span></span>Online courses</h1>
        </div>
    </div>
</section>
<!--/hero_in-->

<div class="filters_listing sticky_horizontal">
    <div class="container">
        <ul class="clearfix">
            <li>
                <div class="switch-field">

                    <input type="radio" id="allCourses" name="listing_filter" value="allCourses" checked
                        onclick="window.location.href='/my-courses/learning'">
                    <label for="allCourses">All courses</label>

                    <input type="radio" id="wishList" name="listing_filter" value="wishList"
                        onclick="window.location.href='/my-courses/wishlist'">
                    <label for="wishList">Wishlist</label>

                </div>
            </li>
            <li>
                <div class="layout_view">
                    <a href="#"><i class="icon-th"></i></a>
                    <a href="#" class="active"><i class="icon-th-list"></i></a>
                </div>
            </li>
            <li>
                <select name="orderby" class="selectbox">
                    <option value="category">Category</option>
                    <option value="category 2">Literature</option>
                    <option value="category 3">Architecture</option>
                    <option value="category 4">Economy</option>
                </select>
            </li>
        </ul>
    </div>
    <!-- /container -->
</div>
<!-- /filters -->

<div class="container margin_30_95">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>All Courses</h2>
        <!-- <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p> -->
    </div>
    <div class="row">
        {{#each enrolledCourses}}
        <div class="col-xl-4 col-lg-6 col-md-6">
            <div class="box_grid wow">
                <figure class="block-reveal">
                    <div class="block-horizzontal"></div>
                    <a href="#" class="wish_bt"></a>
                    <a href="/it/{{this.field.name}}/courses/{{this._id}}"><img src="{{this.image3xURL}}"
                            class="img-fluid" alt=""></a>
                    <!-- <div class="price">
                        ${{this.discountPrice}}
                        <span class="original_price"><em>${{this.originalPrice}}</em></span>
                    </div> -->
                </figure>
                <div class="wrapper">
                    <small>{{getFieldName this.field.name}}</small>
                    <h3>{{this.title}}</h3>
                    <p>{{this.instructor.name}}</p>
                    <!-- <div class="rating"><i class="icon_star voted"></i><i class="icon_star voted"></i>
                        <i class="icon_star voted"></i><i class="icon_star"></i><i class="icon_star"></i>
                        <small>(145)</small>
                    </div> -->
                    <div class="rating">
                        <small>{{this.rating}} stars - ({{this.reviews.length}} students reviewing)</small>
                        <small></small>
                    </div>
                </div>
                <ul>
                    <!-- <li><i class="icon_clock_alt"></i> 1h 30min</li> -->
                    <li><i class="far fa-eye"></i> {{this.numViews}}</li>
                    <li><a href="#">Enroll now</a></li>
                </ul>
            </div>
        </div>
        {{/each}}
    </div>
</div>

<!-- Fields -->
{{#if query}}
{{#if fields}}
<div class="container margin_30_95">
    <div class="main_title_2">
        <span><em></em></span>
        <h2>Fields Found</h2>
        <!-- <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p> -->
    </div>

    <div class="box_cart">
        <table class="table table-striped cart-list">
            <thead>
                <tr>
                    <th>
                        Fields
                    </th>
                    <th>
                        Total students
                    </th>
                    <th>
                        Last Updated
                    </th>
                </tr>
            </thead>
            <tbody>
                {{#each fields}}
                <tr>
                    <td class="options">
                        <a href="/it/{{this.name}}/courses/">
                            <i class="fas fa-graduation-cap"></i>
                            <span class="item_cart">{{getFieldName this.name}}</span>
                        </a>
                    </td>
                    <td>
                        {{this.totalStudents}}
                    </td>
                    <td>
                        {{getTimeAgo this.updatedAt}}
                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>

    </div>
    {{else}}
    <div class="main_title_2">
        <span><em></em></span>
        <h2>No Fields Found</h2>
        <!-- <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p> -->
    </div>


</div>
{{/if}}
{{/if}}
<div class="bg_color_1">
    <div class="container margin_60_35">
        <div class="row">
            <div class="col-md-4">
                <a href="#" class="boxed_list">
                    <i class="pe-7s-help2"></i>
                    <h4>Need Help? Contact us</h4>
                    <p>Cum appareat maiestatis interpretaris et, et sit.</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="boxed_list">
                    <i class="pe-7s-wallet"></i>
                    <h4>Payments and Refunds</h4>
                    <p>Qui ea nemore eruditi, magna prima possit eu mei.</p>
                </a>
            </div>
            <div class="col-md-4">
                <a href="#" class="boxed_list">
                    <i class="pe-7s-note2"></i>
                    <h4>Quality Standards</h4>
                    <p>Hinc vituperata sed ut, pro laudem nonumes ex.</p>
                </a>
            </div>
        </div>

    </div>
    <!-- /container -->
</div>